<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Prueba Automotor</title>

	<!-- Bootstrap CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<header class="bg-primary text-white p-3 mb-4">
		<!--    <div class="container">-->
		<div class="container d-flex justify-content-between align-items-center">
			<h1 class="h3 mb-0">Lista de Turnos</h1>
			<nav>
				<div class="btn-group" role="group" aria-label="Navegación principal">
					<a class="btn btn-light" th:href="@{/}">Inicio</a>
					<a class="btn btn-light" th:href="@{/allClientes}">Lista de clientes</a>
					<a class="btn btn-light" th:href="@{/allVehiculos}">Lista de vehiculos</a>
					<a class="btn btn-light" th:href="@{/allTurnos}">Lista de Turnos</a>
				</div>
			</nav>
		</div>
	</header>

	<main class="container">
		<h2 class="mb-4">Turnos</h2>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="turno : ${turnos}">
				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">Turno #<span th:text="${turno.idTurno}"></span></h5>

						<p class="card-text mb-1">
							<strong>Fecha:</strong>
							<span th:text="${turno.fecha}"></span>
						</p>

						<p class="card-text mb-1">
							<strong>Hora:</strong>
							<span th:text="${turno.hora}"></span>
						</p>

						<p class="card-text">
							<strong>Vehículo:</strong>
							<span th:text="${turno.vehiculo.idVehiculo}"></span>
						</p>

						<p th:if="${turno.tipo != T(com.axeldp.pruebaTecnica.entity.enums.Tipo).NO }" class="card-text">
							<strong>Lavado:</strong>
							<span th:text="${turno.tipo}"></span>
						</p>

						<div th:if="${turno.alineacionBalanceo and turno.cambioCubiertas }">
							<p class="card-text">
								<strong>Alineacion y balanceo:</strong>
								<span th:text="${turno.alineacionBalanceo}"></span>
							</p>
							<p class="card-text">
								<strong>Cambio de cubiertas:</strong>
								<span th:text="${turno.cambioCubiertas}"></span>
							</p>
						</div>

<!--						<div th:if="${turno.alineacionBalanceo or turno.cambioCubiertas}">-->
<!--							<p th:if="${turno.alineacionBalanceo}">-->
<!--								<strong>Alineación y balanceo:</strong> Sí-->
<!--							</p>-->
<!--							<p th:if="${turno.cambioCubiertas}">-->
<!--								<strong>Cambio de cubiertas:</strong> Sí-->
<!--							</p>-->
<!--						</div>-->

<!--						<div th:if="${not turno.alineacionBalanceo and not turno.cambioCubiertas}">-->
<!--							<p>-->
<!--								Sin servicios de alineación, balanceo o cambio de cubiertas-->
<!--							</p>-->
<!--						</div>-->


						<p th:if="${turno.motor != T(com.axeldp.pruebaTecnica.entity.enums.Motor).NO 
							&& turno.rendimiento != T(com.axeldp.pruebaTecnica.entity.enums.Rendimiento).NO}" class="card-text">
							<strong>motor:</strong>
							<span th:text="${turno.motor}"></span>
							<strong>rendimiento:</strong>
							<span th:text="${turno.rendimiento}"></span>
						</p>

						<h1 th:text="${turno.precio}"></h1>

						<form th:action="@{/deleteTurno(idTurno=${turno.idTurno})}" method="post" class="d-inline">
							<button type="submit" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'¿Desea eliminar el turno ' + ${turno.idTurno} + '?\')'">
								Eliminar
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>


	<!--	<main class="container">-->
	<!--		<table class="table table-striped table-hover">-->
	<!--			<thead class="table-dark">-->
	<!--				<tr>-->
	<!--					<th>ID</th>-->
	<!--					<th>Fecha y Hora</th>-->
	<!--					<th>Vehiculo</th>-->
	<!--					<th>Acciones</th>-->
	<!--				</tr>-->
	<!--			</thead>-->

	<!--			<tbody>-->
	<!--				<tr th:each="turno : ${turnos}">-->
	<!--					<td th:text="${turno.idTurno}"></td>-->
	<!--					<td th:text="${#temporals.format(turno.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>-->
	<!--					<td th:text="${turno.vehiculo.idVehiculo}"></td>-->
	<!--					<td>-->

	<!--						<form th:action="@{/deleteTurno(idTurno=${turno.idTurno})}" method="post"class="d-inline">(idVehiculo=${turno.vehiculo.idVehiculo})-->
	<!--							<button type="submit" class="btn btn-sm btn-danger"-->
	<!--								th:onclick="'return confirm(\'¿Desea eliminar el turno ' + ${turno.idTurno} + '?\')'">-->
	<!--								Eliminar-->
	<!--							</button>-->
	<!--						</form>-->

	<!--					</td>-->
	<!--				</tr>-->
	<!--			</tbody>-->
	<!--		</table>-->
	<!--	</main>-->

	<footer class="bg-light text-center py-3 mt-5">
		<p class="mb-0">api turnos automotor</p>
	</footer>

	<!-- Bootstrap JS Bundle (Popper + Bootstrap JS) -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>